node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
.vercel
.vercel-cli
.workspace-notes/*
__unconfig*
todos.json
supabase/.temp
playwright-report/
test-results/
.vercel
.now/*
